@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #222222;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
    justify-content: space-between;

}

main {
    display: flex;
    gap: 5rem;
    overflow:scroll;
    flex-direction: column;
    justify-content: center;
}

main::-webkit-scrollbar, 
ul::-webkit-scrollbar,
section::-webkit-scrollbar {
    display: none;
}

section {
    padding: 1.4rem;
    justify-content: space-between;
    align-content: space-between;
    margin: 2rem;
    max-height: 400px;
    width: 90vw;
    max-width: 700px;
    border-radius: 10px;
    backdrop-filter: blur(1px);
    /* background-color: gray; */
}

section::before,
section::after {
    content: "";
    position: absolute;
    inset: 0.5px;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(140deg, steelblue, firebrick) 1;
    /* background:linear-gradient(140deg, steelblue, firebrick); */
    border-radius: inherit;
    z-index: -1;
}

section::before {
    filter: blur(7px);
}

nav {
    background-color: rgba(33, 33, 33, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

footer {
    width: 100%;
    background-color: rgba(33, 33, 33, 0.7);
    padding: 0.5rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

a:hover, a:active {
    /* background-color: darkturquoise; */
    /* background: linear-gradient(140deg, rgba(70, 131, 180, 0.25), rgba(178, 34, 34, 0.25)); */
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image: linear-gradient(140deg, steelblue, firebrick) 1;

    cursor: pointer;
    /* border-bottom: darkturquoise solid 2px; */
}

.overlay {
    position: fixed;
    background: url(./img/nnnoise.svg), linear-gradient(140deg, steelblue, firebrick);
    height: 100vh;
    width: 100vw;
    mix-blend-mode: overlay;
    filter: blur(0.2px);
    opacity: 0.3;
    z-index: -1;
}

.display-photo {
    width: 65px;
    border-radius: 0.2rem;
}

li {
    list-style-type: none;
}

li img {
    background-color: whitesmoke;
    border-radius: 0.2rem;
    padding: 0.4rem;
    width: 60px;
}

.title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.1rem;
    color: steelblue;
}

#contact {
    display: none;
}

#intro {
    display: none;
}

#works {
    display: flex;
    gap: 1rem;
}


.tech-stack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    justify-items: center;
}

ul li p {
    display: none;
    margin-bottom: 0.4rem;
}

ul li {
    margin-bottom: 0.2rem;
}
ul li h2:hover + p {
    display: block;
}


ul li h2:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image: linear-gradient(220deg, steelblue, firebrick) 1;
    cursor: pointer;
}